.finish {
    padding: 10px;
    font-size: 17px;
    margin: 5px;
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    border-radius: 5px;
    color: white;
}

.finish:hover {
    background-color: rgb(49, 49, 49)
}