.widgetCart{
    display: flex;
    margin-bottom: 30px;
    border-bottom: 2px rgba(0, 0, 0, 0.492) groove;
}


img.productImgCartWidget{
    width: 250px;
    height: 250px;
    object-fit: cover;   
    margin-left: 30px;
}

.widgetCart p{
    font-weight: 400;
    font-size: 1rem;
}
.widgetCart .cart-product__details{
    width: 40%;
}
.cart-product__details .widgetTitle {
    font-size: 1.1rem;
    font-weight: 600;
    text-align: center;
}

.cart-product__details .widgetPrice{
    font-size: 1.1rem;
    font-weight: 600;
    text-align: center;
    color: blueviolet;
}

.cart-product__action{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
}
.cart-product__action .WidgetAdd, .cart-product__action .WidgetRemove, .cart-product__action .WidgetClear{
    
    border-radius: 5px;
    width: 25%;

} 
.cart-product__action .WidgetAdd:hover{
    background-color: rgb(152, 247, 181);
    transform: scale(1.1);
}
.cart-product__action .WidgetRemove:hover{
    background-color: rgb(253, 174, 174);
    transform: scale(1.1);
}

.cart-product__action .WidgetClear:hover{
    background-color: rgb(241, 83, 83);
    transform: scale(1.1);
}

.comprarCarrito{
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    color: white;
    padding: 2px;
    width: 96%;
    margin-left: 2%;
    border-radius: 10px;
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 2%;
    
}
.comprarCarrito:hover{
    background-color: rgb(49, 49, 49)
}


.eliminarCarrito{
    background-color: black;
    color: white;
    font-family: 'Montserrat', sans-serif;
    padding: 2px;
    width: 96%;
    margin-left: 2%;
    border-radius: 10px;
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 2%;
}
.eliminarCarrito:hover{
    background-color: rgb(49, 49, 49)
}
.carritoVacio p{
    font-size: 1.2rem;
    font-weight: 600;
    padding: 5px;
    margin: 5px;
}