.item-product {
    float: left;
    width: 33.33%;
    box-shadow: 1px 1px 5px #afafaf45;
    border: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-right: 20px;
    img {
        width: 100%;
        height: 600px;
        width: 600px;
    }
}

.btn-bootstrap {
    padding: .375rem .75rem;
    border-radius: .25rem;
    background-color: #007bff;
    color: #fff;
    transition: background-color .15s ease-in-out;
  }

  .btn-bootstrap:hover, .btn-bootstrap:focus {
    background-color: #0069d9;
  }
  
  .btn-bootstrap:active {
    background-color: #0062cc;
  }

.titulo {
    padding: .375rem .75rem;
}