.countProd {
    display: block;
    width: 100%;
    justify-content: center;
    align-items: center;

        p {
            font-size: 22px;
        }
        span {
            font-size: 23px;
            margin-left: 10px;
            margin-right: 10px;
        }
}

.agregar {
    padding: 10px;
    font-size: 17px;
    margin: 5px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    border-radius: 5px;
    background-color: black;
}

.agregar:hover {
    background-color: rgb(49, 49, 49)

}

.restar {
    padding: 10px;
    font-size: 17px;
    margin: 5px;
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    border-radius: 5px;
    color: white;
}

.restar:hover {
    background-color: rgb(49, 49, 49)
}

.carrito {
    padding: 10px;
    font-size: 17px;
    margin: 5px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 5px;
    background-color: black;
    color: white;
}

.carrito:hover {
    background-color: rgb(49, 49, 49)
}