.countProd {
    display: block;
    /* height: 77px; */
    width: 100%;
    justify-content: center;
    align-items: center;

        p {
            font-size: 22px;
        }
        span {
            font-size: 23px;
            margin-left: 10px;
            margin-right: 10px;
        }
}

.agregar {
    padding: 10px;
    font-size: 17px;
    margin: 5px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 5px;
}

.agregar:hover {
    background-color: rgb(152, 247, 181);
}

.restar {
    padding: 10px;
    font-size: 17px;
    margin: 5px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 5px;
}

.restar:hover {
    background-color: rgb(253, 174, 174)
}

.carrito {
    padding: 10px;
    font-size: 17px;
    margin: 5px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 5px;
}

.carrito:hover {
    background-color: rgb(174, 221, 253)
}